.DS_Store
*.beam
.eunit
deps/*
# neither the .app nor .beam files should be checked in (rebar will manage .app)
ebin/*.app
ebin/*.beam
*~
# ignore any object files or the library source we're building
c_src/*.o
c_src/mutton
doc/*
# where rebar will output the driver/port library
priv

