{erl_opts, [debug_info, warnings_as_errors]}.

{port_env,
 [
  {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
  {"CXXFLAGS", "$CXXFLAGS -Wall -O3 -fPIC"},
  {"DRV_CFLAGS",  "$DRV_CFLAGS -O3 -Wall -Wextra -I c_src/mutton/include"},
  {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/mutton/build/lib/libmutton.a /usr/local/lib/liblua.a c_src/mutton/ext/lib/libsnappy.a c_src/mutton/ext/src/LevelDB/libleveldb.a c_src/mutton/ext/src/RE2/obj/libre2.a c_src/mutton/ext/src/snappy/.libs/libsnappy.a"},

  %% Make sure to link -lstdc++ on Linux, FreeBSD, or Solaris
  {"(linux|freebsd|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}
 ]}.

{port_specs, [{"priv/emtn_drv.so",["c_src/*.c"]}]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.
{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
